/* set light mode color as default value */
:root {
  /* devices */
  --mobileS: 320px;
  --mobileM: 375px;
  --mobileL: 425px;
  --tablet: 768px;
  --laptop: 1024px;
  --laptopL: 1440px;
  --desktop: 2560px;

  /* sizing */
  --max-width-container: var(--laptop);

  /* font */
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: rgb(255, 255, 255);
    --color-fg: rgb(18, 18, 18);

    --box-shadow: rgba(18, 18, 18, 0.5);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: rgb(18, 18, 18);
    --color-fg: rgb(240, 240, 240);

    --box-shadow: rgba(240, 240, 240, 0.2);
  }
}

:root.theme-light {
  --color-bg: rgb(255, 255, 255);
  --color-fg: rgb(18, 18, 18);

  --box-shadow: rgba(18, 18, 18, 0.5);
}

:root.theme-dark {
  --color-bg: rgb(18, 18, 18);
  --color-fg: rgb(240, 240, 240);

  --box-shadow: rgba(240, 240, 240, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
  color: var(--color-fg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
