@use "../../styles/_vars.scss";

.aboutMeSection {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  width: 100%;

  gap: 2rem;

  // @media screen and (max-width: ${devices.tablet}) {
  //   max-width: 100%;
  // }

  // @media screen and (min-width: ${devices.desktop}) {
  //   max-width: 60%;
  // }
}

.imageWrapper {
  border-radius: 8px;
  box-shadow: 4px 2px 8px var(--box-shadow);

  width: auto;
  height: 184px;

  background-color: var(--color-fg);
  overflow: hidden;

  background-image: url("../../assets/me2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  transition: filter 0.4s ease-in-out;

  &:hover {
    filter: brightness(1.2);
    box-shadow: 4px 2px 12px var(--box-shadow);

    cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🏄‍♂️</text></svg>"),
      auto;
  }
}

.myInfoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  z-index: 9;

  // my name
  > h1 {
    font-size: 1.5rem;
  }

  // company
  > h2 {
    font-size: 0.8rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 6px;

    i {
      font-size: vars.$icon-sizes;
    }
  }

  small {
    display: flex;
    align-items: center;
    gap: 6px;

    transition: filter .2s ease-in-out;

    &:hover {
      cursor: pointer;
      font-weight: bold;

      i, a {
        filter: brightness(1.75);
      }
    }

    i {
      font-size: vars.$icon-sizes;

      // color: #4ae963;
      // color: #2dd881;
      color: #4d8b31;
      // color: rgb(119, 198, 91);

      transform: rotate(90deg);
      animation: moveLocation 5s infinite alternate;
    }
  }

  > p {
    box-shadow: 0px 2px 8px var(--box-shadow);
    background-color: var(--color-fg);

    padding: 1rem;
    border-radius: 8px;

    color: var(--color-bg);
    font-size: 16px;
    font-weight: 500;

    min-height: 80px;
  }
}

@keyframes moveLocation {
  25% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(80deg);
  }
  100% {
    filter: brightness(120%);
    transform: rotate(90deg);
  }
}
